@import "animations";
@import "transitions";
@import "colorfunctions";


body {
  margin: 0;
  font-family: "Open Sans", Arial;
  min-height: 100vh;
  background: {
    color: #212121;
    repeat: no-repeat;
    size: cover;
    position: top center;
  }

  &.homepage {
    background-image: url(../images/trees_road.jpg);
  }

  &.grid_one_page {
    background-image: url(../images/lonely_tree.jpg);
  }
}

.box {
  padding: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  text-transform: uppercase;

    a {
      color: #51C62B;
      font-size: 80%;
      letter-spacing: 2px;
      text-transform: lowercase;
      text-decoration: none;
      border-bottom: 2px solid #51C62B;
      padding-bottom: 10px;
      transition: all 400ms ease-in-out 0s;

      &:hover {
        background-color: #f5f5f5;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
      }
  }
}

.box1   { color: #51C62B; }
.box2  { color: #DFC600; }
.box3   { color: #E08800; }
.box4 { color: #802503; }

.box_color {
  animation-timing-function: cubic-bezier(0,1,1,1);
}



/** index.html **/
.app_layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50vh 50vh;
}


/** grid1.html **/
.grid {  
  display: grid;  
  grid-template-columns: 1fr 3fr 1fr;  
  grid-template-rows: minmax(200px, auto) 400px minmax(300px, auto);  
  grid-auto-rows: minmax(300px, auto);  
  grid-gap: 20px;
  min-height: 100vh;
}

.grid_box {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #f5f5f5;
  font-size: 250%;
}





@media screen and (max-width: 1024px) {
  .app_layout {
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 25vh 25vh 25vh;
   }
}